.miniCalculadora {background-color: aqua;  height: 290px; width: 300px; ; justify-content: center; border: solid; margin:100px}

.botao{background-color: brown; display:flex ;width: 200px; justify-content: space-between; padding: 30px; margin: 18px;; justify-content: space-around; margin-top:0; display: flex; flex-wrap: wrap; border: solid;}

#botao1 {background-color: rgb(230, 230, 250); padding: 20px; margin: 10px; height: 10px; width: 10px;}

#botao2 {background-color: yellow;  padding: 20px; margin: 10px; height: 10px; width: 10px;}

#botaosoma {background-color: green; color: white; padding: 20px; margin: 10px; height: 10px; width: 10px;}

#botao4{background-color: blue; color: white; padding: 20px; margin: 10px; height: 10px; width: 10px;}

input{padding: 5px; margin: 20px; font-weight: bold; border: solid 2px;}