
body {
  margin: 4rem 0;
}
 

.painel {
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;

}

.painel-roxo {
    background-color: #DDEDFF;
}

.painel-azul {
    background-color: #DFCCFF;
}